@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-back h-screen;
}

.nav-link:hover {
  text-shadow: 0px 0px 15px rgba(255, 255, 255, 1);
}

/*.gradient-border-wrap {*/
/*    background: linear-gradient(to right, #7C1DC1, #EB54BC, #67D8DE, #02DC85, #FCD757);*/
/*}*/

.wallet-button-parent Button {
  @apply text-white px-12 bg-transparent rounded-full border border-violet border-solid font-roboto w-full;
}

.wallet-button-parent Button:hover {
  @apply bg-transparent !important;
  box-shadow: 0px 0px 20px rgba(124, 29, 193, 0.5);
}

.backdrop-bg {
  background-color: rgba(0, 0, 0, 0.85);
  z-index: 10;
}

.center-circle {
  transform: translate(-50%, -50%);
}

.landing-hero-text {
  background: linear-gradient(
    90deg,
    #7c1dc1 0%,
    #eb54bc 18.58%,
    #0fb6ca 37.63%,
    #67d8de 52.96%,
    #02dc85 67.82%,
    #fcd757 88.72%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.landing-hero-btn {
  transition: all .3s;
}

.landing-hero-btn:hover {
  box-shadow: 0 0 30px #5014bd;
}

@media (max-width: 1050px) {
  .hero-right-circle {
    width: 50%;
  }
}
