.parentDiv{
    width: 50%;
    height: 180px;
}

.middle{
    margin: auto;
}

.contentDiv{
    height: 130px;
    background-color: rgb(49, 46, 46);
}

.margin20{
    margin-left: 40px;
}

.blank{
    height: 10px;
}
