.parentDiv{
    justify-content: center;
    align-items: left;
    width: 50%;
    height: 150px;
}

.middle{
    margin: auto;
}

.columnParent{
    display: flex;
    flex-direction: column;
}

.contentDiv{
    height: 120px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    background-color: rgb(49, 46, 46);
}

.margin20{
    margin-left: 40px;
}

.blank{
    height: 10px;
}

.white{
    color: white;
}

.border{
    border: 1px solid white; 
}