.border{
    background-color:  rgba(55, 55, 55, 0.5);
    height: 220px;
    width: 1200px;
    margin: auto;
    overflow-x: auto;
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.test{
    height: 120px;
    width: 120px;
    margin: auto auto;
}

.imgT{
    margin: auto auto;
    max-height: 100px;
    max-width: 100px;
    border: 2px solid white;
    border-radius: 10%;
}

.blank{
    height: 140px;
}

.nft_picker{
    height:140px
}

.dummy{
    margin-left: 10px;
    margin-right: 10px;
}
