.border{
    background-color:  rgba(55, 55, 55, 0.5);
    height: 220px;
    width: 1200px;
    margin: auto;
    overflow-x: auto;
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.test{
    height: 180px;
    width: 190px;
    margin-left: 15px;
    margin-right: 5px;
}

.imgT{
    height: 180px;
    width: 190px;
    border: 2px solid white;
    border-radius: 10%;
}