.border{
    border: 5px solid #000;
    height: 220px;
    width: 1200px;
    margin: auto;
    overflow-x: auto;
}

.test{
    border: 1px solid red;
    height: 180px;
    width: 190px;
    margin-left: 10px;
    margin-right: 10px;
}